---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../sections/MainPage/HeroSection.astro';
import OurWorkSection from '../sections/MainPage/OurWorkSection.astro';
import PartnerSection from '../sections/MainPage/PartnerSection.astro';
import QuotesSection from '../sections/MainPage/QuotesSection.astro';
import ServicesSection from '../sections/MainPage/ServicesSection.astro';

---

<Layout title="Delote-Beauty">
	<main>
		<HeroSection/>
		<QuotesSection/>
		<ServicesSection/>
		<PartnerSection/>
		<OurWorkSection/>
	</main>
</Layout>

<style>
	
</style>
