<section class="partner">
    <div class="container wrapper">
        <img src="src/assets/images/partner-1.png" alt="">
        <img src="src/assets/images/partner-2.png" alt="">
        <img src="src/assets/images/partner-3.png" alt="">
        <img src="src/assets/images/partner-4.png" alt="">
    </div>
</section>

<style lang="scss">
    .partner{

        .wrapper{
            display: flex;
            justify-content: space-around;
            align-items: center;

            img{
                opacity: 0.5;
            }
        }
    }
</style>